<div class="footer">
    <!-- {% if page.url == "/" and site.footer_only_homepage %} -->
        <hr>
        <!-- {{ site.footer_text }} -->
        <a href="https://www.linkedin.com/in/davidhanny/" target="_blank">LinkedIn</a> ·
        <a href="https://scholar.google.com/citations?user=iLWMR2oAAAAJ" target="_blank">Google Scholar</a> ·
        <a href="https://orcid.org/0009-0004-8017-0786" target="_blank">ORCID</a> · 
        <a href="https://github.com/hanny-bal" target="_blank">GitHub</a> · 
        <a href="mailto:david.hanny@proton.me" target="_blank">Email</a>
        </br>
        <a href="https://github.com/rhl-bthr/parchment">Parchment</a> theme by <a href="https://github.com/rhl-bthr">rhl-bthr</a>
    <!-- {% else %}
        <br>
    {% endif %} -->
</div>
