<div class="links"> <!-- note: I removed the scroll class -->
        <a href="{{site.baseurl}}/">Home</a>
        <a href="{{site.baseurl}}/publications.html">Publications</a>
        <a href="{{site.baseurl}}/project-archive.html">Past Projects</a>
        <a href="{{site.baseurl}}/download/cv_hanny.pdf", target="_blank">CV</a>
        <a href="{{site.baseurl}}/blog/">Blog</a>
        <!-- <a href="https://hannybal.bearblog.dev/" target="_blank">Blog</a>-->
        <!--<a href="{{site.baseurl}}/projects/">Projects</a>-->
        <!--<a href="{{site.baseurl}}/archive/">Archive</a>-->
</div>
